body {
    font-family: sans-serif;
    padding: 30px;
    background: #ededed;
}

.wrapper {
    max-width: 690px;
    margin: 0 auto;
}

.blue {
    color: #3f7abe;
}

h1 {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #08a3d9;
    text-transform: uppercase;
    font-size: 30px;
    color: #000380;
}

#balloon-gallery div {
    background: #ff3300;
    height: 121px;
    width: 119px;
    text-align: center;
    color: #ff3300;
    font-size: 40px;
    font-family: sans-serif, arial;
    border-radius: 100%;
    margin-top: 20px;
    display: inline-block;
    margin: 2.5px 5px;
    transition: background 0.3s ease; /* Add a transition for visual effect */
}

#balloon-gallery div:nth-child(3n) {
    background: #ffce00;
}

#balloon-gallery div:nth-child(3n-1) {
    background: #3f7abe;
}

#balloon-gallery div:nth-child(5n) {
    background: #8e7a8e;
}

#yay-no-balloons {
    display: none;
    color: #ff3300;
    font-size: 100px;
}
